.textNav {
  font-weight: 400;
  font-size: 20px;
  /* line-height: 1; */
  color: #5A5B6A;
  margin-left: 32px;
  letter-spacing: 0.1px;
}

.textNav:focus,
.textNav:hover {
  font-weight: 500;
  color: #5A5B6A;
}

.navSearch {
  padding: 8px;
  padding-left: 44px;
  font-size: 20px;
  color: #19191D;
  letter-spacing: 0.15px;
  background-color: #EDEDF0;
  border: none;
  box-shadow: none;
  margin-left: auto;
}
.navSearch:focus {
  /* position: relative; */
  width: 100%;
}
.navCloseIcon {
  display: none;
}

.navSearchIcon {
  position: absolute;
  display: block;
  bottom: 14px;
  left: 15px;
}
.navSearch:focus ~ .navCloseIcon {
  position: absolute;
  display: block;
  bottom: 13px;
  right: 17px;
}

button.textNav {
  /* color: #2264D1; */
  font-weight: 400;
  margin-left: 17px;
}
button.textNav:focus {
  box-shadow: none;
  font-weight: 400;
}
button.textNav:hover {
  color: #2264D1;
  font-weight: 400;
}

.navButton {
  position: relative;
  margin-left: 22px;
  padding: 9px 12px;
  border: 1px solid #9DC2FF;
  box-sizing: border-box;
  border-radius: 4px;
}

.navButton:hover {
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
}

.navButton .text {
  font-family: 'Quicksand';
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #2264D1;

}

.textP5 {
  padding: 0 7px;
}
.cartCount {
  position: absolute;
  font-family: 'Quicksand';
  font-size: 14px;
  background: #F44336;
  text-align: center;
  color: #ffffff;
  border-radius: 99px;
  padding: 0 5px;
  min-width: 20px;
  height: 20px;
  right: -2px;
  top: -4px;
}