.category {
  color: green;
  font-size: 18px;
  font-weight: 500;
}

.discription {
  letter-spacing: .0275em;
  color: #19191D;
  min-height: 48px;
}

.price {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.options {
  letter-spacing: .0175em;
  color: #787885;
  line-height: 143%;
  flex-grow: 1;
}

.hideText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical;
  max-height: 92px;
}