.container {
  margin-top: 39px;
}

.item {
  background-color: #EDEDF0;;
  border-radius: 99px;
  margin-right: 12px;
  padding: 5px 13px 5px;
  font-size: 14px;
  letter-spacing: .25px;
}

.item:focus {
  box-shadow: none !important;

}

.title {
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
  margin-left: 0;
  letter-spacing: 0.2px;
}

.active {
  background-color: #cccccc;
  color: #2979FF;
}

.active, .active:hover, .active:focus {
  color: #2264D1;
  box-shadow: none !important;
  /* font-weight: 500; */
}