.App {
  /* text-align: center; */
  height: 100vh;
}

.container {
  max-width: 1516px !important;
}

i.list::before {
  display: inline-block;
  content: '';
  background-image: url('./img/listicon.svg');
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
}
